Repository vmware/purser, pull requests merged in 2019-03, with the labels that each got.

#192 Change xid when a resource is soft deleted in dgraph
  pkg/controller/dgraph/models/container.go
  pkg/controller/dgraph/models/daemonset.go
  pkg/controller/dgraph/models/deployment.go
  pkg/controller/dgraph/models/job.go
  pkg/controller/dgraph/models/namespace.go
  pkg/controller/dgraph/models/node.go
  pkg/controller/dgraph/models/pod.go
  pkg/controller/dgraph/models/pv.go
  pkg/controller/dgraph/models/pvc.go
  pkg/controller/dgraph/models/replicaset.go
  pkg/controller/dgraph/models/service.go
  pkg/controller/dgraph/models/statefulset.go
  ui/src/app/app.component.html
Labels: Bug-Fix, Controller, DB, cla-not-required

#194 Handle re-sync for pods
  cmd/controller/purserctrl.go
  pkg/controller/dgraph/models/query/pod.go
  pkg/controller/eventprocessor/sync.go
Labels: cla-not-required, enhancement

#198 Fix cost computation for resources from older months
  pkg/controller/dgraph/models/pod.go
  pkg/controller/dgraph/models/query/cluster.go
  pkg/controller/dgraph/models/query/container.go
  pkg/controller/dgraph/models/query/daemonset.go
  pkg/controller/dgraph/models/query/deployment.go
  pkg/controller/dgraph/models/query/group.go
  pkg/controller/dgraph/models/query/helpers.go
  pkg/controller/dgraph/models/query/job.go
  pkg/controller/dgraph/models/query/metrics.go
  pkg/controller/dgraph/models/query/namespace.go
  pkg/controller/dgraph/models/query/node.go
  pkg/controller/dgraph/models/query/pod.go
  pkg/controller/dgraph/models/query/pv.go
  pkg/controller/dgraph/models/query/pvc.go
  pkg/controller/dgraph/models/query/replicaset.go
  pkg/controller/dgraph/models/query/statefulset.go
Labels: Bug-Fix, cla-not-required, enhancement

#202 [issue #36] Adding test cases for utils
  pkg/controller/utils/purge_test.go
  pkg/controller/utils/unitConversions_test.go
Labels: Test, enhancement

#200 Add tests for functions in query package
  cmd/controller/api/handlers.go
  pkg/controller/dgraph/models/query/cluster.go
  pkg/controller/dgraph/models/query/cluster_test.go
  pkg/controller/dgraph/models/query/constants_test.go
  pkg/controller/dgraph/models/query/container.go
  pkg/controller/dgraph/models/query/daemonset.go
  pkg/controller/dgraph/models/query/deployment.go
  pkg/controller/dgraph/models/query/group.go
  pkg/controller/dgraph/models/query/group_test.go
  pkg/controller/dgraph/models/query/helpers.go
  pkg/controller/dgraph/models/query/helpers_test.go
  pkg/controller/dgraph/models/query/job.go
  pkg/controller/dgraph/models/query/label.go
  pkg/controller/dgraph/models/query/label_test.go
  pkg/controller/dgraph/models/query/metrics.go
  pkg/controller/dgraph/models/query/namespace.go
  pkg/controller/dgraph/models/query/node.go
  pkg/controller/dgraph/models/query/pod.go
  pkg/controller/dgraph/models/query/pod_test.go
  pkg/controller/dgraph/models/query/pv.go
  pkg/controller/dgraph/models/query/replicaset.go
  pkg/controller/dgraph/models/query/resource.go
  pkg/controller/dgraph/models/query/resource_test.go
  pkg/controller/dgraph/models/query/statefulset.go
  pkg/controller/dgraph/models/query/subscriber.go
  pkg/controller/dgraph/models/query/subscriber_test.go
  pkg/controller/eventprocessor/updater.go
Labels: Test, cla-not-required, enhancement

#203 Capacity break up in terms of available and used capacity
  cmd/controller/api/handlers.go
  cmd/controller/purserctrl.go
  pkg/controller/dgraph/dgraph.go
  pkg/controller/dgraph/models/pod.go
  pkg/controller/dgraph/models/query/cluster.go
  pkg/controller/dgraph/models/query/cluster_test.go
  pkg/controller/dgraph/models/query/constants_test.go
  pkg/controller/dgraph/models/query/metrics.go
  pkg/controller/dgraph/models/query/resource.go
  pkg/controller/dgraph/models/query/resource_test.go
  pkg/controller/dgraph/models/query/subscriber_test.go
  pkg/controller/dgraph/models/query/types.go
  ui/src/app/app.component.ts
  ui/src/app/modules/capacity-graph/components/capactiy-graph.component.html
  ui/src/app/modules/capacity-graph/components/capactiy-graph.component.ts
Labels: UI, cla-not-required, enhancement

#211 support login, change password and logout for admin
  Gopkg.lock
  cluster/purser-controller-setup.yaml
  cmd/controller/api/api.go
  cmd/controller/api/handlers.go
  cmd/controller/api/routes.go
  cmd/controller/purserctrl.go
  pkg/controller/dgraph/dgraph.go
  pkg/controller/dgraph/login.go
  pkg/controller/dgraph/models/pod.go
  pkg/controller/dgraph/models/query/login.go
  pkg/controller/eventprocessor/processor.go
  ui/nginx.conf
  ui/package-lock.json
  ui/package.json
  ui/src/app/app.component.html
  ui/src/app/app.component.ts
  ui/src/app/app.module.ts
  ui/src/app/app.routing.ts
  ui/src/app/modules/capacity-graph/components/capactiy-graph.component.html
  ui/src/app/modules/capacity-graph/services/capacity-graph.service.ts
  ui/src/app/modules/changepassword/changepassword.module.ts
  ui/src/app/modules/changepassword/components/changepassword.component.html
  ui/src/app/modules/changepassword/components/changepassword.component.scss
  ui/src/app/modules/changepassword/components/changepassword.component.spec.ts
  ui/src/app/modules/changepassword/components/changepassword.component.ts
  ui/src/app/modules/changepassword/services/changepassword.service.ts
  ui/src/app/modules/logical-group/components/logical-group.component.html
  ui/src/app/modules/logical-group/services/logical-group.service.ts
  ui/src/app/modules/login/components/login.component.html
  ui/src/app/modules/login/components/login.component.scss
  ui/src/app/modules/login/components/login.component.spec.ts
  ui/src/app/modules/login/components/login.component.ts
  ui/src/app/modules/login/login.module.ts
  ui/src/app/modules/login/services/login.service.ts
  ui/src/app/modules/logout/components/logout.component.html
  ui/src/app/modules/logout/components/logout.component.scss
  ui/src/app/modules/logout/components/logout.component.spec.ts
  ui/src/app/modules/logout/components/logout.component.ts
  ui/src/app/modules/logout/logout.module.ts
  ui/src/app/modules/topo-graph/components/topo-graph.component.html
  ui/src/app/modules/topo-graph/services/topo-graph.service.ts
  ui/src/app/modules/topologyGraph/services/topologyGraph.service.ts
Labels: Controller, DB, UI, cla-not-required, enhancement

#212 UI support for create and deleting group
  cluster/artifacts/group-template.json
  cluster/purser-controller-setup.yaml
  cmd/controller/api/api.go
  cmd/controller/api/apiHandlers/authenticationHandlers.go
  cmd/controller/api/apiHandlers/customGroupHandlers.go
  cmd/controller/api/apiHandlers/helpers.go
  cmd/controller/api/apiHandlers/hierarchyAndMetricAPIHandlers.go
  cmd/controller/api/handlers.go
  cmd/controller/api/routes.go
  cmd/controller/purserctrl.go
  pkg/controller/dgraph/models/query/pod.go
  pkg/controller/eventprocessor/updater.go
  pkg/pricing/cloud.go
  ui/src/app/app.component.html
  ui/src/app/app.component.ts
  ui/src/app/app.module.ts
  ui/src/app/modules/logical-group/components/logical-group.component.html
  ui/src/app/modules/logical-group/components/logical-group.component.ts
  ui/src/app/modules/logical-group/services/logical-group.service.ts
  ui/src/app/modules/login/components/login.component.html
  ui/src/app/modules/login/components/login.component.ts
  ui/src/app/modules/logout/components/logout.component.ts
Labels: Controller, DB, UI, cla-not-required, enhancement

#217 Support group creation in YAML format
  cmd/controller/api/apiHandlers/customGroupHandlers.go
  cmd/controller/api/apiHandlers/helpers.go
  pkg/controller/dgraph/models/query/metrics.go
  ui/src/app/modules/logical-group/components/logical-group.component.ts
Labels: cla-not-required, enhancement

#210 Update README.md
  README.md
Labels: cla-not-required

#220 Compute projected costs and show it in UI
  cmd/controller/api/apiHandlers/customGroupHandlers.go
  cmd/controller/api/apiHandlers/helpers.go
  pkg/apis/groups/v1/types.go
  pkg/controller/dgraph/models/group.go
  pkg/controller/dgraph/models/query/group.go
  pkg/controller/dgraph/models/query/queries.go
  pkg/controller/eventprocessor/updater.go
  pkg/controller/utils/timeUtils.go
  ui/src/app/modules/logical-group/components/logical-group.component.html
  ui/src/app/modules/logical-group/components/logical-group.component.ts
Labels: Controller, DB, UI, cla-not-required, enhancement
